
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
__pycache__/settings.cpython-37.pyc
__pycache__/sprites.cpython-37.pyc
__pycache__/sprites.cpython-37.pyc
__pycache__/settings.cpython-37.pyc
